.main-container {
  position: relative;

  .container-home {
    width: 100vw;
    background-image: url("../../../../../images/blog/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .back-drop {
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.8);
      padding-bottom: 100px;
      padding-left: 70px;
      padding-right: 70px;

      @media only screen and (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      h1 {
        font-size: 60px;
        font-family: "Times New Roman", Times, serif;
      }

      .container-btn {
        margin-top: 5%;
      }
    }
  }
}
