.container-tam {
  .container {
    .grid {
      .container-inner-grid {
        margin-bottom: 10%;

        .container {
          img {
            width: 100%;
            transition: 1s;

            &:hover {
              width: 110%;
              margin-left: -5%;
            }
          }
        }
      }
    }
  }
}
