$secondary-color: #2484c2;
$secondary-color-darker: #1b6392;

$primary-color: #fa8232;
$primary-color-lighter: #ff9d5c;

$gray: #5f6c72;
$gray-two: #929fa5;
$gray-extral-light: rgba(80, 90, 95, 0.9);

$white-color: #ffffff;
$white-smoke-color: whitesmoke;
$white-smoke-color-ligher: #f8fefe;
$light-color: rgb(185, 189, 192);

$black-color: #202020;

// messages color
$error-bg-color: rgb(251, 168, 168);
$success-bg-color: rgb(168, 251, 178);
$success-text-color: rgb(17, 219, 40);
