body,
html {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(115, 115, 115);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(205, 205, 205);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(142, 142, 142);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
