body,
html {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background-color: rgb(115, 115, 115);
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: rgb(205, 205, 205);
}
body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(142, 142, 142);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main-container {
  position: relative;
}
.main-container .container-home {
  width: 100vw;
  background-image: url("../../../../../images/blog/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container .container-home .back-drop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
}
@media only screen and (max-width: 600px) {
  .main-container .container-home .back-drop {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-container .container-home .back-drop h1 {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}
.main-container .container-home .back-drop .container-btn {
  margin-top: 5%;
}

.container-items-about {
  width: 100vw;
}
.container-items-about .container- .--grid .left-container-about_page .mini-breacrumb {
  padding-left: 15%;
  font-size: small;
}
@media only screen and (max-width: 780px) {
  .container-items-about .container- .--grid .left-container-about_page .mini-breacrumb {
    padding-left: 7%;
  }
}
.container-items-about .container- .--grid .left-container-about_page .mini-breacrumb a .text-dark {
  color: black;
  font-weight: 600;
}
.container-items-about .container- .--grid .left-container-about_page article {
  padding-top: 80px;
  padding-left: 15%;
  margin-top: -50px;
  font-size: 17px;
}
@media only screen and (max-width: 780px) {
  .container-items-about .container- .--grid .left-container-about_page article {
    padding-left: 7%;
  }
}
.container-items-about .container- .--grid .right-container-about_page img {
  width: 100%;
}

.container-client .container .container-grid .container-inner-grid .container-holder {
  transition: 1s;
}
.container-client .container .container-grid .container-inner-grid .container-holder h1 {
  font-weight: 700;
}
.container-client .container .container-grid .container-inner-grid .container-holder:hover {
  background-color: #2484c2;
  color: white;
}

.container-main-services .grid-container center .container-- .col-lg {
  margin-bottom: 8%;
}
.container-main-services .grid-container center .container-- .col-lg .container img {
  width: 100%;
}
.container-main-services .grid-container center .container-- .col-lg .container h6 {
  font-weight: 700;
}
.container-main-services .grid-container center .container-- .col-lg .container p {
  font-size: small;
}

.container-tam .container .grid .container-inner-grid {
  margin-bottom: 10%;
}
.container-tam .container .grid .container-inner-grid .container img {
  width: 100%;
}

.contact-page .container .mini-breacrumb {
  font-size: small;
}
.contact-page .container .grid-contact .grid-item .container {
  overflow: hidden;
}
.contact-page .container .grid-contact .grid-item .container .container-items p {
  font-size: smaller;
}

.container-sign-up .msg-auth,
.container-login .msg-auth {
  width: 100%;
}
.container-sign-up .container-items,
.container-login .container-items {
  margin-top: 10%;
}
.container-sign-up .container-items .grid-inner-2 .container,
.container-login .container-items .grid-inner-2 .container {
  padding: 0 100px;
}
@media only screen and (max-width: 600px) {
  .container-sign-up .container-items .grid-inner-2 .container,
  .container-login .container-items .grid-inner-2 .container {
    padding: 0 50px;
  }
}
.container-sign-up .container-items .grid-inner,
.container-login .container-items .grid-inner {
  position: relative;
  overflow: hidden;
}
.container-sign-up .container-items .grid-inner .backdrop,
.container-login .container-items .grid-inner .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  margin-left: -30px;
}
.container-sign-up .container-items .grid-inner img,
.container-login .container-items .grid-inner img {
  width: 100%;
  height: 100%;
}

.container-dashboar .container-best-deals {
  padding-bottom: 10px;
}
@media only screen and (min-width: 1100px) {
  .container-dashboar .container-best-deals {
    padding: 47px;
  }
}
.container-dashboar .container-e-commerce {
  background-color: #f8fefe;
  padding: 10px 3%;
  padding-top: 10%;
}
.container-dashboar .container-e-commerce .grid-one {
  height: 450px;
}
.container-dashboar .container-e-commerce .grid-one .adds-img .container-img {
  height: 62%;
}
.container-dashboar .container-e-commerce .grid-one .adds-img .container-img img {
  width: 100%;
  height: 100%;
}
.btn-landing-page {
  padding: 25px 35px;
  border: none;
  background-color: #2484c2;
  color: white;
  font-family: Courier New;
}
.btn-landing-page:hover {
  color: white;
  background-color: #1b6392;
}

.btn-submit-Newsletter {
  background-color: #fa8232;
  border: 5px solid #ffffff;
  padding: 6px 15px;
  font-size: small;
  color: #ffffff;
  outline: none;
}
.btn-submit-Newsletter:hover {
  color: #ffffff;
  background-color: #ff9d5c;
  border: 5px solid #ffffff;
}

.btn-submit-contact {
  background-color: #fa8232;
  float: right;
  padding: 10px 17px;
}
.btn-submit-contact:hover {
  background-color: #ff9d5c;
  color: #ffffff;
}

.btn-submit-auth {
  background-color: #fa8232;
  padding: 15px 0;
}
.btn-submit-auth:hover {
  background-color: #ff9d5c;
}

.btn-search {
  background-color: #ffffff;
}
.btn-search:hover {
  background-color: #ffffff;
}

.btn-shop-now {
  font-size: 10px;
}
.btn-shop-now i {
  font-size: smaller;
}
@media only screen and (max-wdith: 900px) {
  .btn-shop-now {
    font-size: 7px;
  }
  .btn-shop-now i {
    font-size: 5px;
  }
}

.button-add-to-cart {
  border: none;
  background-color: #fa8232;
  color: #ffffff;
  font-size: small;
  border-radius: 4px;
  padding: 8px 7px;
  transition: 1s;
}
.button-add-to-cart i {
  font-size: x-small;
}
.button-add-to-cart:hover {
  background-color: #ff9d5c;
}

.button-love-items {
  border: 1px solid #fa8232;
  background-color: #ffffff;
  padding: 0px 10px;
  font-size: small;
  height: 35px;
  border-radius: 4px;
  transition: 1s;
}
.button-love-items:hover {
  background-color: #ff9d5c;
}
.button-love-items:hover i {
  color: #ffffff;
}
.button-love-items i {
  color: #fa8232;
}

.add-to-cart {
  border: none;
  background-color: #fa8232;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 7px;
  transition: 1s;
}
.add-to-cart i {
  font-size: small;
}
.add-to-cart:hover {
  background-color: #ff9d5c;
  color: #ffffff;
}

.buy-item-wish {
  border: 1px solid #fa8232;
  background-color: #ffffff;
  padding: 0px 10px;
  height: 40px;
  border-radius: 4px;
  transition: 1s;
  color: #fa8232;
}
.buy-item-wish:hover {
  background-color: #ff9d5c;
  color: #ffffff;
}

.input-subscribe {
  width: 100%;
  padding: 24px 15px;
}
@media only screen and (max-width: 600px) {
  .input-subscribe {
    width: 100%;
  }
}

.contact-input {
  border: none;
  padding: 20px 20px;
  background-color: whitesmoke;
  font-size: small;
}

.container-text-area .contact-text-area {
  height: 200px;
  padding: 2% 3%;
}

.search-navbar-btn {
  font-size: small;
}

.form-floating {
  position: relative;
}
.form-floating .input-auth {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding-top: 10px;
  height: 37px;
  border-bottom: 1px solid rgb(185, 189, 192);
  outline: none;
  font-size: small;
  background-color: transparent;
}
.form-floating .input-auth:focus ~ .label, .form-floating .input-auth:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}
.form-floating .input-auth:focus ~ .underline, .form-floating .input-auth:valid ~ .underline {
  transform: scaleX(1);
}
.form-floating .label {
  position: absolute;
  top: 0;
  left: -10px;
  color: #929fa5;
  transition: all 0.3s ease;
  pointer-events: none;
}
.form-floating .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1b6392;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.search-e-commerce {
  font-size: 15px;
  padding-left: 20px;
  height: 40px;
  width: 100%;
}

.main-search-e-commerce {
  padding: 25px 30px;
  border-radius: 50px;
}

center .card {
  transition: 1s;
  width: 24.4%;
}
@media only screen and (max-width: 500px) {
  center .card {
    width: 48.7%;
  }
}
@media only screen and (max-width: 902px) {
  center .card {
    width: 32.7%;
  }
}
@media only screen and (max-width: 700px) {
  center .card {
    width: 48.4%;
  }
}
center .card:hover {
  box-shadow: 10px 10px 40px rgb(185, 189, 192);
}
center .card .card-body .container-name {
  width: 100%;
  font-size: 14px;
}
center .card .card-body .text-info {
  font-size: large;
}
center .card .card-body .discount {
  text-decoration: line-through;
  font-size: smaller;
}

.container-items .grid {
  padding-top: 100px;
}
.container-items .grid .product-details .container-rating .stars {
  color: #fa8232;
}
.container-items .grid .product-details .container-rating p span {
  font-size: 14px;
}
.container-items .grid .product-details h5 {
  font-size: x-large;
  font-weight: 600;
}
.container-items .grid .product-details .-model .container-items {
  padding-right: 20%;
}
.container-items .grid .product-details .-model .container-items p {
  font-size: small;
}
.container-items .grid .product-details .-model .container-items p span {
  font-size: larger;
}
.container-items .grid .product-details .container- h2 span {
  font-size: 18px;
  margin-left: 15px;
  text-decoration: line-through;
}
.container-items .container-brandssame {
  height: 320px;
  overflow: hidden;
}

.container-footer {
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  font-family: Monaco;
}
.container-footer .container-- .top-container {
  width: 100%;
  background-color: #2484c2;
}
.container-footer .container-- .top-container center p {
  padding: 0 30%;
}
.container-footer .container-- .center-container {
  background-color: #202020;
  border-bottom: 1px solid #5f6c72;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item {
  font-size: 15px;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .p-tags {
  font-size: smaller;
  float: left;
  margin: 5px;
  color: #5f6c72;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .p-tags:hover {
  background-color: #929fa5;
  color: #ffffff;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .last-item {
  font-size: small;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .download--link {
  background-color: rgba(80, 90, 95, 0.9);
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .download--link p {
  font-size: small;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item .download--link p p {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item h1 strong {
  font-size: 60px;
  margin-bottom: 8%;
}
.container-footer .container-- .center-container .grid-newsletter .grid-inner-item ul li {
  list-style: none;
  text-align: left;
}
.container-footer .container-- .bottom-container {
  background-color: #202020;
}

.auth .container-google-auth {
  border: 1px solid rgb(185, 189, 192);
  padding: 10px;
  height: 50px;
}
.auth .container-google-auth:hover {
  background-color: #ff9d5c;
  color: #ffffff;
}
.auth .auth-link {
  text-decoration: underline;
}
.auth .text-forgot-password {
  color: #ff9d5c;
}

.bg-danger- {
  background-color: rgb(251, 168, 168);
}

.bg-success- {
  background-color: rgb(168, 251, 178);
  color: rgb(17, 219, 40);
}

.lg-screen-nav {
  display: block;
}
@media only screen and (max-width: 1000px) {
  .lg-screen-nav {
    display: none;
  }
}

.sm-screen-nav {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .sm-screen-nav {
    display: block;
  }
}

.blog_Nav {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  z-index: 51;
  top: 0;
  left: 0;
  padding-top: 0;
  border-bottom: 2px solid whitesmoke;
}
.blog_Nav .container-top-items {
  top: 0;
  left: 0;
  background-color: #202020;
  padding-top: 2px;
  max-height: 50px;
  font-size: small;
}
.blog_Nav .container-top-items a {
  text-decoration: underline;
}
.blog_Nav .container {
  padding-left: 90px;
  padding-right: 10px;
}
.blog_Nav .container .link .container ul li,
.blog_Nav .container .link .container- ul li {
  list-style: none;
}
.blog_Nav .container .link .container ul li a,
.blog_Nav .container .link .container- ul li a {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}

.navbar-expand {
  width: 100vw;
  width: 100vw;
  top: 0;
  left: 0;
  color: #ffffff;
}
.navbar-expand .container .link .container ul li {
  list-style: none;
}
.navbar-expand .container .link .container ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav .container .link .container ul li {
  list-style: none;
}
nav .container .link .container ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav .container .search div {
  float: right;
  width: 100%;
}

.header-product-root {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 10px 30px;
  padding-bottom: 30px;
  width: 100%;
  color: #ffffff;
  height: 50px;
}
.header-product-root h4 {
  font-size: 700;
}
.header-product-root span {
  font-size: smaller;
}
.header-product-root h6 {
  display: block;
  border-radius: 4px;
  width: 160px;
}

.nav-app {
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 888;
  background-color: #2484c2;
}
.nav-app .container-nav .logo-nav-app h4 {
  font-family: cursive;
}
.nav-app .container-nav .search-bar {
  width: 45%;
  display: block;
}
.nav-app .container-nav .container-items-right {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .nav-app .container-nav .container-items-right {
    display: none;
  }
}
.nav-app .container-nav .container-items-right h5 {
  color: #fa8232;
}
.nav-app .container-nav .container-items-right .link-notifications {
  text-decoration: none;
}
.nav-app .container-nav .container-items-right .link-notifications .fa-chevron-up,
.nav-app .container-nav .container-items-right .link-notifications .fa-chevron-down {
  font-size: 10px;
}
.nav-app .container-nav .container-items-right .profile .container-profile {
  width: 40px;
  background-color: white;
  height: 40px;
  border-radius: 100px;
}

aside {
  left: 0;
  background-color: #ffffff;
  width: 17%;
  min-width: 240px;
  position: relative;
  transition: 1s;
  max-width: 240px;
  border-radius: 7px;
}
aside .container-aside {
  width: 20%;
  min-width: 280px;
}
@media only screen and (max-width: 1000px) {
  aside .container-aside {
    padding-top: 20px;
  }
}
aside .container-aside ul {
  margin-left: -25px;
}
aside .container-aside ul p {
  font-size: 18px;
}
aside .container-aside ul li {
  list-style: none;
  margin-left: 4px;
}
aside .container-aside ul li a {
  color: #202020;
  font-size: 13px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 25px;
  margin-bottom: 3px;
}
aside .container-aside ul li a i {
  color: #fa8232;
  font-size: 15px;
}
aside .container-aside ul li a .fa-chevron-right {
  font-size: 10px;
  color: #929fa5;
}

/*# sourceMappingURL=main.css.map */
