@use "../Base/color" as color;

.auth {
  .container-google-auth {
    border: 1px solid color.$light-color;
    padding: 10px;
    height: 50px;

    &:hover {
      background-color: color.$primary-color-lighter;
      color: color.$white-color;
    }
  }

  .auth-link {
    text-decoration: underline;
  }

  .text-forgot-password {
    color: color.$primary-color-lighter;
  }
}

.bg-danger- {
  background-color: color.$error-bg-color;
}

.bg-success- {
  background-color: color.$success-bg-color;
  color: color.$success-text-color;
}
